@import 'variables';

#results {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .info-card {
    background-color: white;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: $border-radius;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    h3 {
      color: $primary-color;
      margin-top: 0;
    }

    p {
      margin: 0;
    }
  }
}
