
$secondary-color: #181F37;
$primary-color: #4971AE;
$accent-color: #ffeb3b;
$text-color: #333;
$button-color: #ff5d10;
$button-hover-color: #e64a19;
$border-radius: 10px;
// $secondary-color: #D05F7F;  // Light pinkish color
// $primary-color: #E67C8F;    // Pinkish shade
// $accent-color: #FFC1E3;     // Light pink accent
// $text-color: #333;          // Keep text color as is
// $button-color: #F48FB1;     // Pinkish button color
// $button-hover-color: #EC407A;// Darker pink for hover effect
// $border-radius: 10px;
