
$secondary-color: #181F37;
$primary-color: #4971AE;
$accent-color: #ffeb3b;
$text-color: #333;
$button-color: #ff5d10;
$button-hover-color: #e64a19;
$border-radius: 10px;


// $secondary-color: #D05F7F;
// $primary-color: #E67C8F;
// $accent-color: #FFC1E3;
// $text-color: #333;
// $button-color: #F48FB1;
// $button-hover-color: #EC407A;
// $border-radius: 10px;
